body{
    background-color: #18303b;
}

button, 
form {
	margin: 5px;
}

button {color: #d1a080 }

.jumbotron {
	font-weight: bold;
	background-color: rgb(84, 132, 223);
    color: whitesmoke;
    

}

.container .jumbotron, .container-fluid .jumbotron {
	padding-top: 5px;
	padding-bottom: 5px;
}


button, html input[type=button], input[type=reset], input[type=submit] {
	background-color: #8cdfdf;
    color:darkslategrey;
    
    border-radius:25px;
    padding: 3px;
    font-size: 12px;
    cursor: pointer;
}

input{
    background-color: #8cdfdf;
    color: darkslategrey;
    border-radius: 25px;
}


/*updates gif photo to show left to right versus just vertical */
.item {
	padding: 10px;
	display: inline-block;
}

p{
	background-color:green;
	color:red;	
	padding: 0px;
}